.footer {
    background: $off-black;
    color: $ghost;
    font-size: 9px;
    padding: $m-size 0;
}

.footer_linkedin{
    position: relative;
    text-decoration: none;
    font-size: 18px;
    color: $snow;
}

.footer_github {
    position: relative;
    text-decoration: none;
    font-size: 18px;
    color: $snow;
}
.fa{
    padding: 7px;
}
