.widget {
    background: $light-blue;
    margin-bottom: $x1-size;
}

.widget__message {
    border-bottom: 1px solid lighten($light-blue, 22%);
    color: $ghost;
    margin: 0;
    padding: $l-size;
    text-align: center;
}
//Widget Header
.widget-header{
    background: $burnt-blue;
    color: $snow;
    display: flex;
    justify-content: space-around;
    padding: $m-size;
}

.widget-header__title{
    margin: 0;
}